{% extends "layouts/testbase.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-12 text-center">
        <h3 class="mb-4">Website Analytics</h3>
            <iframe
            src="https://app.klipfolio.com/published/ef6a69306d4edab0a96065e639dab37c/website-analytics"
            width="100%"
            height="800"
            frameborder="0"
            style="border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        </iframe>
 </div>
</div>

{% endblock content %}
